* {
    padding: 0;
    border: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto Condensed", sans-serif;
}

.slide-bar {
    margin-top: 0;
    width: 100%;
    height: 45px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    padding-left: 120px;
    padding-right: 80px;
    position: fixed;
    cursor: pointer;
    background-color: rgb(228, 226, 226);
    z-index: 10;
}

.slide-bar .prev,.slide-bar .next {
    position: absolute;
    font-size: 25px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 80%;
    background-color: rgba(171, 170, 170, 0.5);
    z-index: 1;
    color: gray;
    cursor: pointer;
}

.slide-bar .prev {
    left: 30px;
}

.slide-bar .next {
    right: 30px;
}

.slide-bar p {
    font-size: 15px;
    padding-bottom: 1px;
}

.slide-bar h3 {
    font-size: 20px;
}

.slide-bar h4 {
    font-size: 18px;
}

.slide-bar .item {
    height: 100%;
    width: 30%;
    display: flex;
    align-items: center;
    color: black;
}

.slide-bar .icon {
    margin-left: 20px;
    margin-right: 10px;
    font-size: 25px;
}

.slide-bar .content {
    display: flex;
    margin-left: 5px;
}

.slide-bar .content h3,h4,p {
    display: flex;
    margin-left: 5px;
    align-items: flex-end;
}

