<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/food.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <script src="https://kit.fontawesome.com/bd7b2915a7.js" crossorigin="anonymous"></script>
    <title>Trang chủ</title>
</head>
<body>
    <div class="container">
        <div class="header">
            <div class="left-header">
                <img src="food_image/logo.png" alt="">
            </div>
            <div class="mid-header">
                <div class="menu">
                    <div class="icon">
                        <i class="fa-solid fa-list"></i>
                    </div>
                    <div class="item">
                        <p>Thực đơn</p>
                    </div>
                </div>
                <div class="category">
                    <div class="icon">
                        <i class="fa-solid fa-utensils"></i>
                    </div>
                    <div class="item">
                        <p>Loại món ăn</p>
                        <div class="icon-arrow">
                            <i class="fa-solid fa-chevron-down"></i>
                        </div>
                    </div>
                </div>
                <div class="search">
                    <div class="input">
                        <input type="text" id="search-input" placeholder="Bạn cần tìm gì?">
                    </div>
                    <div class="icon">
                        <button><i class="fa-solid fa-magnifying-glass"></i></button>
                    </div>
                </div>
            </div>
            <div class="right-header">
                <div class="order">
                    <div class="icon">
                        <i class="fa-solid fa-truck-fast"></i>
                    </div>
                    <div class="item">
                        <p>Lịch sử đặt hàng</p>
                    </div>
                </div>
                <div class="cart">
                    <div class="icon">
                        <i class="fa-solid fa-cart-shopping"></i>
                        <div class="quantity-cart">0</div>
                    </div>
                    <div class="item">
                        <p>Giỏ hàng</p>
                    </div>
                </div>
                <div class="info">
                        <div class="icon">
                            <i class="fa-solid fa-user-pen"></i>
                        </div>
                        <div class="item">
                            <p>Thông tin cá nhân</p>
                        </div>
                </div>
                <div class="register">
                    <div class="icon">
                        <i class="fa-solid fa-user-large"></i>
                    </div>
                    <div class="item">
                        <p>Đăng nhập</p>
                        <p>Đăng xuất</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="slide-bar">
            <div class="slide-container">
                <div class="slide-image">
                    <a href="" class="slide" data-name="Món ăn 1">
                        <img src="food_image/image1.jpeg" alt="image1">
                    </a>
                    <a href="" class="slide" data-name="Món ăn 2">
                        <img src="food_image/image2.jpeg" alt="image2">
                    </a>
                    <a href="" class="slide" data-name="Món ăn 3">
                        <img src="food_image/image3.jpeg" alt="image3">
                    </a>
                    <a href="" class="slide" data-name="Món ăn 4">
                        <img src="food_image/image4.jpeg" alt="image4">
                    </a>
                    <a href="" class="slide" data-name="Món ăn 5">
                        <img src="food_image/image5.jpeg" alt="image5">
                    </a>
                    <a href="" class="slide" data-name="Món ăn 6">
                        <img src="food_image/image6.jpeg" alt="image6">
                    </a>
                </div>
                <div class="prev-image">
                    <i class="fa-solid fa-chevron-left"></i>
                </div>
                <div class="next-image">
                    <i class="fa-solid fa-chevron-right"></i>
                </div>
            </div>
        
        </div>
        
        <div class="food">
            <a href="">
                <div class="item-product">
                    <div class="image">
                        <img src="food_image/image6.jpeg" alt="image6">
                    </div>
                    <div class="info-product">
                        <div class="name">
                            <h3>Tên sản phẩm</h3>
                        </div>
                        <div class="address">
                            <p>Địa chỉ nhà hàng</p>
                        </div>
                    </div>
                    <div class="price-product">
                        <div class="price">
                            <i class="fa-solid fa-tag"></i>
                            <h3>100.000đ</h3>
                        </div>
                        <div class="cart-item">
                            <a th:href="@{/cart/add(idProduct=${product.id})}"><i class="fa-solid fa-cart-plus"></i></a>
                        </div>
                    </div>
                </div>
            </a>
            <a href="">
                <div class="item-product">
                    <div class="image">
                        <img src="food_image/image6.jpeg" alt="image6">
                    </div>
                    <div class="info-product">
                        <div class="name">
                            <h3>Tên sản phẩm</h3>
                        </div>
                        <div class="address">
                            <p>Địa chỉ nhà hàng</p>
                        </div>
                    </div>
                    <div class="price-product">
                        <div class="price">
                            <i class="fa-solid fa-tag"></i>
                            <h3>100.000đ</h3>
                        </div>
                        <div class="cart-item">
                            <a th:href="@{/cart/add(idProduct=${product.id})}"><i class="fa-solid fa-cart-plus"></i></a>
                        </div>
                    </div>
                </div>
            </a>
            <a href="">
                <div class="item-product">
                    <div class="image">
                        <img src="food_image/image6.jpeg" alt="image6">
                    </div>
                    <div class="info-product">
                        <div class="name">
                            <h3>Tên sản phẩm</h3>
                        </div>
                        <div class="address">
                            <p>Địa chỉ nhà hàng</p>
                        </div>
                    </div>
                    <div class="price-product">
                        <div class="price">
                            <i class="fa-solid fa-tag"></i>
                            <h3>100.000đ</h3>
                        </div>
                        <div class="cart-item">
                            <a th:href="@{/cart/add(idProduct=${product.id})}"><i class="fa-solid fa-cart-plus"></i></a>
                        </div>
                    </div>
                </div>
            </a>
            <a href="">
                <div class="item-product">
                    <div class="image">
                        <img src="food_image/image6.jpeg" alt="image6">
                    </div>
                    <div class="info-product">
                        <div class="name">
                            <h3>Tên sản phẩm</h3>
                        </div>
                        <div class="address">
                            <p>Địa chỉ nhà hàng</p>
                        </div>
                    </div>
                    <div class="price-product">
                        <div class="price">
                            <i class="fa-solid fa-tag"></i>
                            <h3>100.000đ</h3>
                        </div>
                        <div class="cart-item">
                            <a th:href="@{/cart/add(idProduct=${product.id})}"><i class="fa-solid fa-cart-plus"></i></a>
                        </div>
                    </div>
                </div>
            </a>
            <a href="">
                <div class="item-product">
                    <div class="image">
                        <img src="food_image/image6.jpeg" alt="image6">
                    </div>
                    <div class="info-product">
                        <div class="name">
                            <h3>Tên sản phẩm</h3>
                        </div>
                        <div class="address">
                            <p>Địa chỉ nhà hàng</p>
                        </div>
                    </div>
                    <div class="price-product">
                        <div class="price">
                            <i class="fa-solid fa-tag"></i>
                            <h3>100.000đ</h3>
                        </div>
                        <div class="cart-item">
                            <a th:href="@{/cart/add(idProduct=${product.id})}"><i class="fa-solid fa-cart-plus"></i></a>
                        </div>
                    </div>
                </div>
            </a>
            <a href="">
                <div class="item-product">
                    <div class="image">
                        <img src="food_image/image6.jpeg" alt="image6">
                    </div>
                    <div class="info-product">
                        <div class="name">
                            <h3>Tên sản phẩm</h3>
                        </div>
                        <div class="address">
                            <p>Địa chỉ nhà hàng</p>
                        </div>
                    </div>
                    <div class="price-product">
                        <div class="price">
                            <i class="fa-solid fa-tag"></i>
                            <h3>100.000đ</h3>
                        </div>
                        <div class="cart-item">
                            <a th:href="@{/cart/add(idProduct=${product.id})}"><i class="fa-solid fa-cart-plus"></i></a>
                        </div>
                    </div>
                </div>
            </a>
            <a href="">
                <div class="item-product">
                    <div class="image">
                        <img src="food_image/image6.jpeg" alt="image6">
                    </div>
                    <div class="info-product">
                        <div class="name">
                            <h3>Tên sản phẩm</h3>
                        </div>
                        <div class="address">
                            <p>Địa chỉ nhà hàng</p>
                        </div>
                    </div>
                    <div class="price-product">
                        <div class="price">
                            <i class="fa-solid fa-tag"></i>
                            <h3>100.000đ</h3>
                        </div>
                        <div class="cart-item">
                            <a th:href="@{/cart/add(idProduct=${product.id})}"><i class="fa-solid fa-cart-plus"></i></a>
                        </div>
                    </div>
                </div>
            </a>
            <a href="">
                <div class="item-product">
                    <div class="image">
                        <img src="food_image/image6.jpeg" alt="image6">
                    </div>
                    <div class="info-product">
                        <div class="name">
                            <h3>Tên sản phẩm</h3>
                        </div>
                        <div class="address">
                            <p>Địa chỉ nhà hàng</p>
                        </div>
                    </div>
                    <div class="price-product">
                        <div class="price">
                            <i class="fa-solid fa-tag"></i>
                            <h3>100.000đ</h3>
                        </div>
                        <div class="cart-item">
                            <a th:href="@{/cart/add(idProduct=${product.id})}"><i class="fa-solid fa-cart-plus"></i></a>
                        </div>
                    </div>
                </div>
            </a>
            <a href="">
                <div class="item-product">
                    <div class="image">
                        <img src="food_image/image6.jpeg" alt="image6">
                    </div>
                    <div class="info-product">
                        <div class="name">
                            <h3>Tên sản phẩm</h3>
                        </div>
                        <div class="address">
                            <p>Địa chỉ nhà hàng</p>
                        </div>
                    </div>
                    <div class="price-product">
                        <div class="price">
                            <i class="fa-solid fa-tag"></i>
                            <h3>100.000đ</h3>
                        </div>
                        <div class="cart-item">
                            <a th:href="@{/cart/add(idProduct=${product.id})}"><i class="fa-solid fa-cart-plus"></i></a>
                        </div>
                    </div>
                </div>
            </a>
        </div>

    </div>
</body>
<script src="js/slide_image.js"></script>
</html>